<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="tteogipbangbeomdae.goddog.domain.donahistory.mapper.DonahistoryMapper">
	
	<select id="findAllById" parameterType="String" resultType="Donahistory">
		SELECT donation, TO_CHAR(donation_date,'YYYY-MM-DD') donationDate, member_id
		FROM donahistory
		WHERE member_id = #{value}
	</select>
	
</mapper>