<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="tteogipbangbeomdae.goddog.domain.reservation.mapper.ReservationMapper">

	<insert id="createReservation" parameterType="Reservation">
		INSERT INTO RESERVATION (reservation_no, member_id, care_no, regdate, regtime, people)
		VALUES (reservation_no_seq.NEXTVAL, #{memberId}, #{careNo}, #{regdate}, #{regtime}, #{people})
	</insert>
	
	<select id="getReservationCount" resultType="Integer">
		SELECT SUM(PEOPLE)
		FROM RESERVATION
		WHERE CARE_NO = ${careNo}
	</select>
	
	<select id="getReservation" resultType="Reservation" parameterType="Reservation">
		SELECT *
		FROM RESERVATION
		WHERE REGDATE = #{regdate}
		AND CARE_NO = #{careNo}
		AND REGTIME = #{regtime}
		AND MEMBER_ID = #{memberId}
	</select>

</mapper>